<section class="py-10">
  <div class="container">
    <h2 class="test-3xl font-semibold">Featured <span class="text-primary">Products</span></h2>
    <div class="mt-5 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
      <div
        class="bg-white border border-gray-100 rounded-2xl p-4 shadow-sm hover:shadow-md transition-shadow duration-300 group font-sans"
      >
        <div class="relative overflow-hidden mb-4">
          <img
            src="https://freshcart.codescandy.com/assets/images/products/product-img-1.jpg"
            alt="product"
            class="w-full h-auto object-contain"
          />

          <!--  ! ----------- Icons  Heart ! ----------- ....  -->
          <div class="absolute top-2 right-2 flex flex-col gap-2">
            <button
              class="w-10 h-10 bg-white shadow-sm border border-gray-100 rounded-full flex items-center justify-center text-gray-600 hover:bg-emerald-600 hover:text-white transition-all"
            >
              <i class="far fa-heart"></i>
            </button>

            <button
              class="w-10 h-10 bg-white shadow-sm border border-gray-100 rounded-full flex items-center justify-center text-gray-600 hover:bg-emerald-600 hover:text-white transition-all"
            >
              <i class="fas fa-sync-alt"></i>
            </button>

            <button
              class="w-10 cursor-pointer h-10 bg-white shadow-sm border border-gray-100 rounded-full flex items-center justify-center text-gray-600 hover:bg-emerald-600 hover:text-white transition-all"
            >
              <i class="far fa-eye"></i>
            </button>
          </div>
        </div>

        <div class="space-y-1">
          <p class="text-xs text-gray-400 tracking-wide">category name</p>

          <h3
            class="text-lg font-medium text-slate-800 hover:text-emerald-600 cursor-pointer transition-colors"
          >
            product title
          </h3>

          <div class="flex items-center gap-1">
            <div class="flex text-yellow-400 text-xs gap-0.5">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star text-gray-300"></i>
            </div>
            <span class="text-xs text-gray-400 font-medium"> 4.2 (12)</span>
          </div>

          <div class="flex items-center justify-between pt-2">
            <div class="flex flex-col">
              <span class="text-lg font-medium text-slate-900"> price EGP</span>
            </div>

            <button
              class="w-10 h-10 bg-emerald-600 text-white rounded-lg flex items-center justify-center hover:bg-emerald-700 transition-colors shadow-sm active:scale-95"
            >
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
